.brand-responsive {
  --logo-size: 50px;
}

#navbar-logo {
  width: var(--logo-size);
  height: var(--logo-size);
}

.navbar-brand-text {
  font-size: calc(var(--logo-size) * 0.5); /* The text scales to half the logo size */
  font-weight: bold;
  letter-spacing: 1px;
}